<div class="top">
  <center><h1 class="header">Selfie Share</h1>
  <h5>Share your conceded egotistical selfies with the world!</h5></center>
</div>
<div class="row">
  <div class="col-md-6 users">
    <ul>
     <% @users.each do |user| %>
       <li><a href="users/<%=user.id%>"><%= user.user_name %></a>
       </li>
     <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
</div>


